* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--tipografia-normal);
}

html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1; 
}
h1, h2, h3, .menu li a, .boto {
    font-family: var(--tipografia-titol) !important;
}
a {
    color: inherit;
    text-decoration: none;
}
/* --------------------------------------------------------- */
/* ------roots--------------------------------------------- */
/* ------------------------------------------------------- */
:root {
    --tipografia-titol: "Belanosima", sans-serif;
    --tipografia-normal: "Raleway", sans-serif;
    --negre: rgb(14, 11, 11);
    --blanc: rgb(255, 255, 255);
    --wine: rgb(133, 20, 75);
    --boto-hover: rgb(75, 13, 43);
    --beix: rgb(242, 242, 230);
}

/* --------- menu --------- */
.menu {
    background-color: var(--wine);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
/* Logo */
.logo-menu {
    display: flex;
    align-items: center;
}

.logo-menu img {
    width: 150px;
    height: auto;
}
/* -------- Hamburguesa i menú -------- */
.menu-toggle {
    font-size: 1.5rem;
    color: var(--blanc);
    cursor: pointer;
}
.menu-toggle .fa-xmark {
    display: none;
}
.links-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: var(--wine);
    padding: 1em;
    text-align: center;
    transition: all 0.3s ease-in-out;
    list-style: none;
}
.links-menu li a {
    color: var(--blanc);
    text-decoration: none;
    line-height: 3em;
}

.links-menu.active {
    display: flex;
}
.menu.open .fa-bars {
    display: none;
}
.menu.open .fa-xmark {
    display: inline;
}

/* ------------------------- */
/* -----principal-img------ */
/* ----------------------- */
.principal-img {
    padding-top: 4em;
    background-image: url('/img/copa-vi-fons-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--blanc);
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 5px 5px 5px var(--negre);
}
/* ------------------------- */
/* -----reserva-img----- */
/* ----------------------- */
.reserva-img {
    padding-top: 4em;
    background-image: url('/img/vinya_fons_reserva.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--blanc);
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 5px 5px 5px var(--negre);
}
/* ------------------------- */
/* -----experiencies-img----- */
/* ----------------------- */
.experiencies-img {
    padding-top: 4em;
    background-image: url('/img/vinya_fons_experiencies.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--blanc);
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 5px 5px 5px var(--negre);
}
/* ------------------------- */
/* -----quiSom-img------ */
/* ----------------------- */
.quiSom-img {
    padding-top: 4em;
    background-image: url('/img/vinya_fons_quiSom.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--blanc);
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 5px 5px 5px var(--negre);
}
/* ------------------------- */
/* -----pack1-img------ */
/* ----------------------- */
.pack1-img {
    padding-top: 4em;
    background-image: url('/img/celler-pack1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--blanc);
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 5px 5px 5px var(--negre);
}
/* ------------------------- */
/* -----pack2-img------ */
/* ----------------------- */
.pack2-img {
    padding-top: 4em;
    background-image: url('/img/copa_vi_quiSom.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--blanc);
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 5px 5px 5px var(--negre);
}
/* ------------------------- */
/* ---------index----------- */
/* ------------------------- */
.contenidor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenidor .first, .contenidor .second, .contenidor .third {
    color: var(--blanc);
    text-shadow: 5px 5px 5px var(--negre);
    margin: 1.5em;
    padding: 1em;
    width: 85%;
    box-shadow: 1px 1px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    position: relative;
    z-index: 2;
}

.contenidor .first::before, .contenidor .second::before, .contenidor .third::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}
.contenidor a div {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titol {
    font-size: 30px;
    text-align: center;
    color: var(--blanc);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: var(--tipografia-titol);
}
.first, .second, .third {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
}
.first {
    background-image: url('/img/cata-vins.jpg');
}
.second {
    background-image: url('/img/vinya_raim.jpg');
}
.third {
    background-image: url('/img/vinya.jpg');
}
/* ------------------------- */
/* -------reserva---------- */
/* ----------------------- */
.intro-text {
    font-size: 18px;
    text-align: center;
    color: #5a5a5a;
    padding-inline: 1em;
    padding-top: 1em;
}
.reserva-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
}
form {
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    align-items: center;
}
fieldset {
    width: 90%;
    display: flex;
    flex-direction: column;
    border: none;
}
.title-form {
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}
input[type="text"], input[type="number"], input[type="date"], input[type="email"], select {
    color: gray;
    height: 3rem;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    margin: 0.5em;
}
legend, label {
    font-size: 20px;
    padding-top: 1em;
}
label {
    padding-bottom: 1em;
}
#preu {
    font-size: 18px;
    color: var(--wine);
    padding-bottom: .5em;
}
.reserva-form input[type="submit"] {
    margin-bottom: 1em;
}


/* ------------------------- */
/* -----experiències------ */
/* ----------------------- */
.pack {
    width: 85%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.pack .pack-name {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    margin: 1rem 0;
}
.pack img {
    width: 100%;
    height: 40vh;
    object-fit: cover; 
    border-radius: 5px;
}
.pack form {
    margin-top: 1rem;
}
input[type="submit"], .boto {
    background-color: var(--wine);
    color: var(--blanc);
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0.5em;
}
input[type="submit"]:hover, .boto:hover {
    background-color: var(--boto-hover);
}
.boto {
    color: var(--blanc);
}
/* ------------------------- */
/* ---------pack1 i 2----------- */
/* ------------------------- */
.pack-txt {
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pack-txt h3 {
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}
.pack-txt div {
    padding: 1em;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pack-txt li {
    list-style: circle;
    text-align: left;
}
.pack-txt form {
    padding-block: 3em;
}
.inclou li {
    padding-block: .5em;
}
iframe {
    width: 100%;
}

.pack-txt img {
    width: 100%;
    height: 30vh;
    object-fit: cover; 
    padding-top: 1em;
    padding-bottom: 1em;
}
.tornar-experiencies {
    text-align: left;
    margin: 40px 0;
}

.tornar-experiencies .goBack {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--wine);
    font-weight: bold;
    border-radius: 5px;
}
.goBack:hover {
    color: var(--boto-hover);
    text-decoration: underline;
}


/* ------------------------- */
/* ---------quiSom----------- */
/* ------------------------- */
.quiSomTxt {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1rem;
    margin: 1rem;
    text-align: justify;
}
.quiSomTxt img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
}
/* ------------------------- */
/* ---------enllaços----------- */
/* ------------------------- */
.link-div {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1rem;
    margin: 1rem;
    text-align: justify;
    font-size: 18px;
    word-wrap: break-word;
}
.link-div a {
    color: var(--wine);
}
.link-div ul {
    width: 80%;
    
}
.link-div a:hover {
    color: #b47f8f;
}
/* ------------------------- */
/* ---------footer----------- */
/* ------------------------- */
footer {
    padding-block: 1em;
}
footer, footer div {
    background-color: var(--wine);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}
footer a, footer p {
    color: var(--blanc);
    text-decoration: none;
}
.instaDesktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.instaDesktop i {
    font-size: 20px;
}

/* ------------------------- */
/* ---responsive tablet----- */
/* ------------------------- */

@media (min-width: 768px) {
    /* general */
    header, footer {
        font-size: 25px;
    }
    /* menú */
    .menu a:hover {
        text-decoration: underline ;
    }
    
    /* reserva */
    .contenidor-text-form {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    .intro-text {
        width: 50%;
        text-align: center;
    }
    .reserva-form form {
        width: 50%;
    }
    /* experiències */
    .pack {
        width: 40%;
    }
    /* pack1 */
    .pack-txt {
        max-width: 80%;
        margin: 0 auto;
    }
    
    .pack-txt div {
        width: 90%;
    }
    
    .pack-txt img,
    iframe {
        width: 90%;
        height: 300px;
        object-fit: cover;
    }
    
    .pack-txt form {
        width: 90%;
        text-align: center;
    }
    .tornar-experiencies .goBack {
        padding: 10px 8em;
    }
    /* quiSom */
    .tablet-quiSom {
        display: flex;
        justify-content: center;
    }
    .quiSomTxt  {
        width: 50%;
        font-size: 20px;
    }
    /* footer */
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    footer p, footer .footerDesktop{
        font-size: 16px;
    }
    .instaDesktop i {
        font-size: 30px;
    }
    .footerDesktop p:hover {
        text-decoration: underline;
    }
    .tablet-footer {
        display: flex;
        flex-direction: column;
    }
    
}
/* ------------------------- */
/* ------responsive pc----- */
/* ------------------------- */
@media (min-width: 992px) {
    /* index */
    .titol{
        padding-bottom: 1em;
        text-align: center;
    }
    .contenidor-tablet {
        padding-block: 5em;
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }
    .contenidor a {
        margin: 1.5em;
        padding: 1em;
        width: 40%; 
        aspect-ratio: 1/1;
    }
    .contenidor a:hover {
        transform: scale(1.05);
    }
    /* pack1 */
    .pack-txt {
        max-width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pack-txt div {
        width: 70%;
    }
    .pack-txt img, iframe {
        width: 60%;
        height: 350px;
        object-fit: cover; 
    }
    .pack-txt form {
        width: 70%;
        text-align: center;
    }
    .tornar-experiencies .goBack {
        padding: 10px 25em;
    }
}