* {
    margin: 0;
    padding: 0;
    font-family: var(--tipografia);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    height: 100%;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}
/* --------------------------------------------------------- */
/* ------roots--------------------------------------------- */
/* ------------------------------------------------------- */
:root {
    --tipografia: "Belanosima", sans-serif;;
    --negre: rgb(0, 0, 0);
    --blanc: rgb(255, 255, 255);
    --wine: rgb(133, 20, 75);
    --wine-menu: rgb(133, 20, 75);
    --beix: rgb(242, 242, 230);
}

/* ------------------------- */
/* ---------menu----------- */
/* ------------------------- */
.menu {
    background-color: var(--wine-menu);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*     flex-direction: row;
    justify-content: space-between; */
    align-items: center;
    padding-block: 1em;
    /*     position: sticky;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999; */
}

/* logo */
.logo-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-menu img {
    width: 150px;
    height: auto;
}

/* enllaços */
.links-menu {
    display: none;
}

/* .links-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.links-menu a {
    color: var(--blanc);
    text-decoration: none;
}

.links-menu a:hover {
    color: var(--negre);
} */

/* ------------------------- */
/* -----principal-img------ */
/* ----------------------- */
.principal-img {
    background-image: url('/img/copa-vi-fons-vinya.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--blanc);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}

/* ------------------------- */
/* ---------main----------- */
/* ------------------------- */
.contenidor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenidor a {
    color: var(--negre);
    margin: 1.5em;
    padding: 1em;
    width: 85%;
    box-shadow: 1px 1px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.contenidor div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenidor img {
    width: 100%;
}

/* ------------------------- */
/* ---------footer----------- */
/* ------------------------- */
footer {
    padding-block: 1em;
}
footer, footer div {
    background-color: var(--wine-menu);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
/*     flex-direction: row;
    align-items: center;
    justify-content: space-between; */

}
footer a, footer p {
    color: var(--blanc);
    text-decoration: none;
}
.instaDesktop {
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
footer .social-media {
    width: 30px;
    height: 30px;
}